.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

ul.form-group {
    padding: 0;
}

ul.form-group li {
    list-display: none;
    display: inline-block;
    padding-right: 15px;
}

/* Error messages */

.error {
    color: red;
    font-style: italic;
}

/* Custom button */

input[type=submit] {
  background-color: rgb(34, 33, 33);
  border: none;
  color: rgb(248, 248, 248);
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}